<header>
    <div class="header-container">
        <div class="logo">
            <!-- Логотип или текст -->
            <a href="/">На главную страницу</a>
        </div>
        <div class="menu-button" onclick="toggleMenu()">☰</div>

                <!-- Боковая панель с меню -->
        <div id="sidebar" class="sidebar">
            <a href="/" class="menu-item">Главная страница</a>
            <a href="/brackets/" class="menu-item">Скобки</a>
            <a href="/bj/" class="menu-item">BJ</a>
            <a href="#" class="menu-item">Серии</a>
            <a href="/neighbours/" class="menu-item">Соседи</a>
            <a href="#" class="menu-item">Покерные комбинации</a>
        </div>
    </div>
</header>
