{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>  <!-- Динамический заголовок страницы -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    <header>{% include 'includes/header.html' %}</header>
    <div class="content">
        {% block content %}

        {% endblock content %}
    </div>

    <script src="{% static 'script.js' %}"></script>
</body>

</html>

