{% extends "base.html" %}

{% block content %}
    <div class="inline-container">
        <div>min: 1   max: 100   step: 1</div>
        <!-- Вывод вуазана -->
        <br>
        <span>{{ voisins_content }}</span> <!-- Динамическое содержание страницы -->
        
        <!-- Форма для ввода ответа пользователем -->
        <form method="post" >
            {% csrf_token %}
            <input type="number" name="plays_by_voisins" placeholder="Играет по:" required> <!-- Поле ввода -->
            <input type="number" name="change_voisins" placeholder="Сдача:" required> <!-- Поле ввода -->
            <button type="submit">Проверить</button> <!-- Кнопка отправки формы -->
        </form>

        {% if result_icon %}
        <div class="result-icon">{{ result_icon }}</div> <!-- Отображение иконки результата -->
        {% endif %}

        <!-- Вывод Тиера -->
        <br>
        <span>{{ tier }}</span> <!-- Динамическое содержание страницы -->
        
        <!-- Форма для ввода ответа пользователем -->
        <form method="post" >
            {% csrf_token %}
            <input type="number" name="plays_by_tier" placeholder="Играет по:" required> <!-- Поле ввода -->
            <input type="number" name="change_tier" placeholder="Сдача:" required> <!-- Поле ввода -->
            <button type="submit">Проверить</button> <!-- Кнопка отправки формы -->
        </form>

        {% if result_icon %}
        <div class="result-icon">{{ result_icon }}</div> <!-- Отображение иконки результата -->
        {% endif %}

        <!-- Вывод офлайнса -->
        <br>
        <span>{{ orphelins }}</span> <!-- Динамическое содержание страницы -->
        
        <!-- Форма для ввода ответа пользователем -->
        <form method="post" >
            {% csrf_token %}
            <input type="number" name="plays_by_orphelins" placeholder="Играет по:" required> <!-- Поле ввода -->
            <input type="number" name="change_orphelins" placeholder="Сдача:" required> <!-- Поле ввода -->
            <button type="submit">Проверить</button> <!-- Кнопка отправки формы -->
        </form>

        {% if result_icon %}
        <div class="result-icon">{{ result_icon }}</div> <!-- Отображение иконки результата -->
        {% endif %}

        <!-- Вывод зеро шпиль -->
        <br>
        <span>{{ zero_spiel }}</span> <!-- Динамическое содержание страницы -->
        
        <!-- Форма для ввода ответа пользователем -->
        <form method="post" >
            {% csrf_token %}
            <input type="number" name="plays_by_zero_spiel" placeholder="Играет по:" required> <!-- Поле ввода -->
            <input type="number" name="change_zero_spiel" placeholder="Сдача:" required> <!-- Поле ввода -->
            <button type="submit">Проверить</button> <!-- Кнопка отправки формы -->
        </form>

        {% if result_icon %}
        <div class="result-icon">{{ result_icon }}</div> <!-- Отображение иконки результата -->
        {% endif %}
    </div>
{% endblock %}
